h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 72px;
    text-align: center;
    color: #000000;
  }
  
  h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-align: center;
    color: #000000;
  }
  
  h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 9px;
    text-align: center;
    color: #000000;
  }
  